
.sectionInfo{
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 960px;
}

.subTitle{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5rem;
    text-align: center;
    display: inline-block;
    
}

.aboutCard{
    width: 60%;
    height: 40rem;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1px;
}
.random{
    width: 270px;
    height: 450px;
    margin-top: 4rem;
}
.recorte{
    overflow: hidden;
    width: 270px;
    height: 270px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.retrato{
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-color: #7562e0;
    border-radius: 200px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoContainer{
    display: flex;
    height: 300px;
}

.parrafo{
    font-size: 1.6rem;
    width: 50rem;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(219, 219, 219);
}

.cvButton{
    width: 11rem;
    height: 3rem;
    background-color: #7562e0;
    border: none;
    border-radius: .3rem;
    color: white;
    margin-top: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 300ms;
}

.cvButton:hover{
    background-color: white;
    color: #7562e0;
}


.downloadIcon{
    margin-left: .5rem;
}


.scrollContainer{

    display: flex;
    color: white;
    font-weight: 600;
    align-items: center;
    width: 160px;
    height: 50px;
    transition: 300ms;
    position: absolute;
    bottom: -20px;
    margin: 0 auto;
    cursor: pointer;
}
.scrollIcon{
    width: 35px;
    height: 35px;
    color: #7562e0;
    
}
.scrollContainer:hover{
    padding-bottom: 5px;
}
.effect{
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 845px){
    .sectionInfo{
        height: 100vh;
        min-height: 390px;
    }
    .infoContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        min-width: 290px;
    }
    .retrato{
        width: 260px;
        height: 260px;
        margin-bottom: 0;
    }
    .recorte{
        width: 240px;
        height: 240px;
    }
    .random{
        width: 240px;
        height: 380px;
    }
    .parrafo{
        font-size: 1.2rem;
        width: 350px;
        min-width: 290px;
        height: 300px;
    }
}


@media only screen and (max-width: 345px){
    .parrafo{
        font-size: 1.1rem;
        min-width: 300px;
        width: 100%;
    }

    .infoContainer{
        min-width: 230px;
        width: 100%;
    }

}