

.fixed{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.button{
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: .3rem;
    background-color: #7562e0;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: #7562e0;
}

.icon{
    width: 1.6rem;
    height: 1.6rem;
}