

.slideContainer{
    display: flex;
    
}

.slideContainer img{
    width: 300px;
    border-radius: 10px;
}

.fotoMedical{
   width: 300px;
   height: 200px;
}

.parrafo{
    width: 30rem; 
    margin-left: 1rem;
}

.demoButton{
    width: 7rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .5rem;
    text-decoration: none;
    background: rgb(133,31,243);
    background: linear-gradient(90deg, rgba(133,31,243,1) 40%, rgba(238,8,165,1) 100%);
    font-weight: 600;
    transition: 200ms;
}

.demoButton:hover{
    opacity: 0.7;
}

.gitButton{
    width: 4rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .5rem;
    text-decoration: none;
    background: rgb(133,31,243);
    background: linear-gradient(90deg, rgba(133,31,243,1) 30%, rgba(238,8,165,1) 100%);
    font-weight: 600;
    transition: 200ms;
    margin-left: 1rem;
}

.gitButton:hover{
    opacity: 0.7;
}

.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 845px){

    .slideContainer{
        flex-direction: column;
        width: 380px;
        align-items: center;
    }
    .parrafo{
        width: 380px;
        font-size: 1.1rem;
    }

}