

.skills{
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 960px;
}

.subTitle{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5rem;
    text-align: center;
    display: inline-block;
}
.tooltip{
    position: absolute;
    display: none;
    transition: 300ms all;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: 600;
    z-index: 100;
}
.iconsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40rem;
    margin-top: 4rem;
}

.box{
    position: relative;
    padding: 1px;
    transition: 300ms all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 40px;
}
.icon{
    width: 8rem;
    height: 8rem;
    color: rgb(133,31,243);
    transition: 300ms;
}
.box:hover .tooltip{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(46, 46, 46);
    bottom: -45px;
}

.icon:hover{
    color: white;
}

.fullContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    position: relative;
    padding: 1px;
}

.scrollContainer{

    display: flex;
    color: white;
    font-weight: 600;
    align-items: center;
    width: 160px;
    height: 50px;
    transition: 300ms;
    position: absolute;
    bottom: -80px;
    cursor: pointer;
    
}
.scrollIcon{
    width: 35px;
    height: 35px;
    color: rgb(133,31,243);
    
}
.scrollContainer:hover{
    padding-bottom: 5px;
}
.effect{
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 845px){

    .fullContainer{
        width: 100%;
        margin: 0;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .skills{
        min-height: 700px;
        
    }
    .box{
        margin: 40px 10px; 
    }
    .icon{
        width: 6rem;
        height: 6rem;
    }
    .iconsContainer{
        width: 100%;
        min-height: 375px;
        margin: 0;

    }
    .scrollContainer{
        margin: 0;
        bottom: -20px;
    }
    
}