


.title{
    color: white;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    height: 90px;

}
.subTitle{
    color: rgb(173, 173, 173);
    font-size: 25px;
    display: block;
    margin-top: 15px;
}

.resume{
    color: rgb(173, 173, 173);
    text-align: center;
}

.titleContainer{
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.presentation{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;

}


.resume{
    width: 300px;
    font-size: 17px;
    
}
.mainButton{
    border: none;
    background-color: #7562e0;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 250ms;
}
.mainButton:hover{
    color: #7562e0;
    background-color: white;
}
.buttonIcon{
    margin: 0px 0px 0px 5px;
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    min-height: 960px;
    overflow: hidden;
    align-items: center;
}



.scrollContainer{

    display: flex;
    color: white;
    font-weight: 600;
    align-items: center;
    width: 160px;
    height: 50px;
    transition: 300ms;
    position: absolute;
    bottom: -250px;
    cursor: pointer;
    
}
.scrollIcon{
    width: 35px;
    height: 35px;
    color: #7562e0;
    
}
.scrollContainer:hover{
    padding-bottom: 5px;
}
.effect{
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}

.redes{
   position: relative;
    right: 150px;
    color:#7562e0;
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    position: relative;
    padding: 1px;
}

.pContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color:#7562e0;
    margin-bottom: 30px;
    transition: 200ms;
}

.link:hover{
    color: white;
}

.redesMobile{
    width: 100%;
    justify-content: center;
    display: none;

}

.linkM{
    text-decoration: none;
    color:#7562e0;
    transition: 200ms;
    margin: 1rem 2rem 0 2rem;
}
.linkM:hover{
    color: white;
}

@media only screen and (max-width: 845px){
    .main{
        width: 100%;
        min-height: 700px;
        overflow: hidden;
    }
    .title{
        font-size: 60px;
        width: 100%;
        text-align: center;
    }
    .presentation{
        min-height: 200px;
        height: 100vh;
        min-width: 100%;
    }
    .scrollContainer{
        bottom: -150px;
    }
    .redes{
        display: none;
    }
    .info{
        margin: 0;
    }
    .redesMobile{
        display: flex;
    }
    
}