body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #1c1c1c;
  width: 100%;
  height: 100%;
  min-width: 299px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-button-next { color: #7562e03a  !important ;}
.swiper-button-prev { color: #7562e03d !important ;}
.swiper-pagination-bullet{
  background-color: antiquewhite !important;
}
.swiper-pagination-bullet-active {
  background-color: #7562e0 !important;
}
.swiper {
  width: 100%;
  min-width: 869px;
  height: 35rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


@media only screen and (max-width: 845px){
  .swiper{
    min-width: 300px;
    width: 100%;
    height: 650px;
  }
  
}