.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
  
}
.navButton{
    text-decoration: none;
    color: black;
    margin: 0px 20px 0px 0px;
}
.buttonsContainer{
    margin: 50px 80px 25px 0px;
}
.spanText{
    font-size: 17px;
    font-weight: 500;
    color: rgb(226, 226, 226);
    transition: 0.1s;
    cursor: pointer;
}
.spanText:hover{
    color: #7562e0;
}

.icon{
    color: white;
    display: none;
}
.iconClose{
    color: white;
    display: none;
}
.logo{
    font-size: 17px;
    font-weight: 600;
    color: #7562e0;
    margin: 0px 0px 0px 80px;
}

@media only screen and (max-width: 845px){
    .nav{
        flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       
    }
    .navShow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999999;
        height: 100vh;
        background-color: black;
    }
    .topNav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        
    }
    .navButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px 0;
    }
    .spanText{
        font-size: 2rem;
    }
    .buttonsContainer{
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        margin: 0;
        margin-top: 2rem;
        left: -100%;
        transition:  300ms all ease;
        
    }
    .showMenu{
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        margin: 0;
        margin-top: 2rem;
        left: -100%;
        transition:  300ms all ease;
        left: 0;
        
    }
    .icon{
        margin-top: 30px;
        margin-right: 40px;
        display: inline-block;
    }
    .iconClose{
        display: inline-block;
        margin-top: 30px;
        margin-right: 40px;
        width: 25px;
        height: 25px;
    }
    .logo{ 
        margin-top: 30px;
        margin-left: 40px;
    }
}