
.projects{
    background-color: #1c1c1c;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 960px;
}

.subTitle{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5rem;
    text-align: center;
    display: inline-block;
}

.swiperContainer{
    width: 57%;
    min-width: 869px;
    min-height: 37rem;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1px;
    position: relative;
}
.scrollContainer{

    display: flex;
    color: white;
    font-weight: 600;
    align-items: center;
    width: 160px;
    height: 50px;
    transition: 300ms;
    position: absolute;
    bottom: -80px;
    cursor: pointer;
    
}
.scrollIcon{
    width: 35px;
    height: 35px;
    color: #7562e0;
    
}
.scrollContainer:hover{
    padding-bottom: 5px;
}
.effect{
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}


@media only screen and (max-width: 845px){

    .projects{
       width: 100%;
    }
    .swiperContainer{
        width: 100%;
        min-width: 300px;
    }


}